@page
@model HospiEnCAsa.App.Frontend.Pages.Pacientes.DetailsModel
@{
}
<h1>Detalles del paciente</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.paciente.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Apellidos</th>
        <td>@Model.paciente.Apellidos</td>
    </tr>
    <tr>
        <th scope="col">Telefono</th>
        <td>@Model.paciente.NumeroTelefono</td>
    </tr>
    <tr>
        <th scope="col">Direccion</th>
        <td>@Model.paciente.Direccion</td>
    </tr>
    <tr>
        <th scope="col">Ciudad</th>
        <td>@Model.paciente.Ciudad</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>
