@page
@model HospiEnCasa.App.Frontend.Pages.ListModel
@{
}
<h3>Listado de Saludos en Varios Idiomas</h3>
<br />
<form method="get">
  <div clas="form-group">
    <p>Filtro por Saludo: 
      <input type="text" name="filtrobusqueda" asp-for="FiltroBusqueda"/>
      <input type="submit" value="Filtrar" />
    </p>
  </div>
</form>
<table class="table">
  @foreach (var Saludo in Model.Saludos)
  {
      <tr>
        <td>@Saludo.EnEspanol</td>
        <td>@Saludo.EnIngles</td>
        <td>@Saludo.EnItaliano</td>
        <td><span class="oi oi-magnifying-glass"><!-- Boton para ver los detalles del saludo-->
          <a class="btn btn-info table-btn" asp-page="./Ingreso" asp-route-saludoId="@Saludo.Id">
           
             <i class="fas fa-info-circle fa-lg">
             </i>
             
             </a></span>
        </td>
        <td><!-- Boton para enviar a editar el saludo-->
          <a class="btn btn-info table-btn" asp-page="./Ingreso" asp-route-saludoId="@Saludo.Id">
            <i class="fas fa-info-circle fa-lg"></i></a>
        </td>
      </tr>
  }
</table>
<br />
<a asp-page=".\Ingreso" class="btn btn-primary">Ingresar Saludo</a>