@page
@model HospiEnCasa.App.Frontend.Pages.ListModel
@{
}
<h3>Listado de Saludos en Varios Idiomas</h3>
<br />
<form method="get">
  <div clas="form-group">
    <p>Filtro por Saludo: 
      <input type="text" name="filtrobusqueda" asp-for="FiltroBusqueda"/>
      <input type="submit" value="Filtrar" />
    </p>
  </div>
</form>
<table class="table">
  @foreach (var Saludo in Model.Saludos)
  {
      <tr>
        <td>@Saludo.EnEspanol</td>
        <td>@Saludo.EnIngles</td>
        <td>@Saludo.EnItaliano</td>
        <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-saludoId="@Saludo.Id">
                    <i class="fas fa-info-circle"></i </a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-saludoId="@Saludo.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
            </td>
      </tr>
  }
</table>
<br />
<a asp-page=".\Ingreso" class="btn btn-primary">Ingresar Saludo</a>